.header{
    width: 100vw;
}
.nav{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    .group{
        white-space: nowrap;
        width: min-content;
    }
}
.main{
    width: 100vw;
    display: grid;
    justify-items: center;
}
.controls{
    display: flex;
    justify-content: space-around;
}