.body{
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;

    .home_container{
        .intro{
            
        }
        .sign_in,.sign_up{

        }
    }
}