$text-green-dark-color: rgb(0, 50, 0);
$text-green-light-color: rgb(200, 255, 200);
$border-light: rgb(0,100,0);
$border-dark: rgb(100,160,100);
$bg-darkest: rgb(0,15,0);
$bg-light: rgb(240, 255, 240);
$bg-dark:rgb(100,160,100);
$error-red: rgb(255,10,10);